<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <a class="navbar-brand logo_h" href="{{ '/' | relative_url }}"><img src="{{ '/assets/img/logo-transparent.png' | relative_url }}" alt="OrderLab"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          {% assign current = page.url | downcase | split: '/' %}
          <ul class="nav navbar-nav menu_nav justify-content-end">
            <li class="nav-item {% if current[1] contains 'index' or page.url == '/' %}active{% endif %}"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>
            <li class="nav-item {% if current[1] == 'team' %}active{% endif %}"><a class="nav-link" href="{{ '/team/' | relative_url }}">Team</a></li>
            <li class="nav-item {% if current[1] == 'pubs' %}active{% endif %}"><a class="nav-link" href="{{ '/pubs/' | relative_url }}">Publications</a></li>
            <li class="nav-item {% if current[1] == 'projects' %}active{% endif %}"><a class="nav-link" href="{{ '/projects/' | relative_url }}">Projects</a></li>
            <li class="nav-item {% if current[1] == 'blog' %}active{% endif %}"><a class="nav-link" href="{{ '/blog/' | relative_url }}">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="https://orderlab.io/reading-group" target="_blank">Reading</a></li>
            <li class="nav-item {% if current[1] == 'join' %}active{% endif %}"><a class="nav-link" href="{{ '/join/' | relative_url }}">Join</a></li>
            <li class="nav-item nav-item--theme">
              <button
                class="theme-toggle"
                type="button"
                data-theme-toggle
                aria-label="Toggle theme"
                aria-pressed="false">
                <i class="fas fa-adjust theme-toggle__icon" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
