<script src="{{ '/vendors/jquery/jquery-3.2.1.min.js' | relative_url }}"></script>
<script src="{{ '/vendors/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/vendors/owl-carousel/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.ajaxchimp.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19513083-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-19513083-5');
</script>
