<!-- ================ Start footer area ================= -->
<footer class="footer-area section-gap">
<div class="container">
  <div class="footer-bottom row align-items-center text-center text-lg-left">
    <p class="footer-text m-0 col-lg-8 col-md-12">
      Copyright &copy; OrderLab 2017-<script>
 document.write(new Date().getFullYear());
      </script> All rights reserved. | Last updated {{ site.time }}.
    </p>
  </div>
</div>
</footer>
<!-- ================ End footer area ================= -->
