<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="{{ meta_desc }}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <!-- CSS -->
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="stylesheet" href="{{ '/vendors/bootstrap/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/vendors/themify-icons/themify-icons.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/vendors/fontawesome/v5/css/all.min.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/vendors/flaticon/flaticon.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/vendors/owl-carousel/owl.carousel.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
