/* font family
	============================================================================================ */
$title-font: 'Rubik', sans-serif;
$text-font: 'Roboto', sans-serif;


/* color variables
	============================================================================================ */
$title-color: #3a414e;
$text-color: #797979;
$black: #242429;
$magnolia: #faf9ff;

$primary-color: #21146a;
$offwhite: #f9f9ff;


$link-color: #fdc632;
$white: #fff;
// $soapstone : #fff9f7;


/* google fonts
	============================================================================================ */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600");
